<form>
  <br>
  <h3>Nueva Consola</h3>
  <hr>
  <div class="form-group">
    <label for="consolaName">Nombre</label>
    <input type="text" class="form-control" id="consolaName" aria-describedby="consola" placeholder="Nombre de consola"/>
    <small id="consolaNameHelp" class="form-text text-muted">Nombre de la consola.</small>
  </div>
  <div class="form-group">
    <label for="consolaName">Imagen de Consola</label>
    <input type="url" class="form-control" id="urlImagen" aria-describedby="URL" placeholder="https://url.com/"/>
    <small id="imagenPrincipalHelp" class="form-text text-muted">URL imagen de la consola.</small>
  </div>
  <div class="form-group">
    <label for="consolaName">Ficha tecnica</label>
    <textarea class="w-100 form-control h-100" id="fichaTecnica" aria-describedby="descripción" placeholder="Datos tecnicos de la consola"></textarea>
    <small id="fichaTecnicaHelp" class="form-text text-muted">Ficha tecnica de la consola.</small>
  </div>
  <hr>
  <h3>Juegos</h3>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
