<br/>
<form [formGroup]="formularioEntrada" (ngSubmit)="guardar()">
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [ngClass]="{ 'is-invalid' : formularioEntrada.get('nombre').invalid }">
      </div>

      <div *ngIf="formularioEntrada.controls['nombre'].errors?.required && formularioEntrada.invalid"
           class="text-danger text-center w-100">
        Por favor indique el nombre.
      </div>
      <div *ngIf="formularioEntrada.controls['nombre'].errors?.minlength" class="text-danger text-center w-100">
        El nombre debe de ser mayor a 5 caracteres.
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Entrada</label>
      <div class="col-8">
        <textarea class="form-control" name="entrada"
                  id="entrada"
                  cols="30"
                  rows="10" placeholder="Entrada"
                  formControlName="entrada"
                  [ngClass]="{ 'is-invalid' : formularioEntrada.get('entrada').invalid }"></textarea>
      </div>
      <div *ngIf="formularioEntrada.controls['entrada'].errors?.required" class="text-danger text-center w-100">
        Por favor deje su comentario.
      </div>
      <div *ngIf="formularioEntrada.controls['entrada'].errors?.minlength" class="text-danger text-center w-100">
        El nombre debe de ser mayor a 10 caracteres.
      </div>
      <div *ngIf="formularioEntrada.controls['entrada'].errors?.maxlength" class="text-danger text-center w-100">
        El nombre debe de ser menor a 30 caracteres.
      </div>
    </div>

  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Publicar
      </button>
    </div>
  </div>
</form>
<hr>

<div class="row">
  <div class="col-12 text-center"><h2>Comentarios</h2></div>
</div>

<div *ngFor="let comentario of comments; index as i">
  <strong>{{comentario.name}}</strong><br>
  <small>{{comentario.fecha | date:'short'}}</small>
  <p>{{comentario.content}}</p>
  <hr>
</div>
